<header>
  <div>
    <div>
      <img src="https://www.farmatodo.com.ve/assets/svg/logo-farmatodo-blue.svg" alt="Logo Farmatodo" width="160px" height="35px">
    </div>
    <div>
      <Select>
        <option value="">Venezuela</option>
        <option value="">Colombia</option>
      </Select>
    </div>
    <div>
      <input type="text" name="" id="">
    </div>
    <div>
      <div>Iniciar Sesion</div>
      <div>Ciudad</div>
      <div>Carrito</div>
    </div>
  </div>
  <div>Barra azul</div>
</header>
